
ci:
  skip: [ty]

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format

  - repo: local
    hooks:
      - id: test
        name: Run tests
        entry: make test
        language: system
        types: [python]
        pass_filenames: false


  - repo: local
    hooks:
      - id: ty
        name: ty check
        entry: make ty_check
        language: system